:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-greenL: #55DFB4;
    --color-black: #000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFF;
    --raleway: 'Raleway', sans-serif;
    --openSans: 'Open Sans', sans-serif;
    height: 1352px;
    width: 100vw;
    box-sizing: border-box;
}